<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My server page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header">
        <h1>My first server-rendering page</h1>
    </header>
    <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Explicabo, optio esse! Fuga quibusdam officiis saepe expedita mollitia 
        quisquam praesentium optio harum alias quo. Sint aut voluptatum rerum 
        similique quis assumenda dignissimos in doloremque debitis blanditiis. 
        Atque reprehenderit nam iste, earum, odio quaerat ratione veritatis itaque 
        minus eaque totam expedita sapiente?</p>
</body>
</html>
